@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url("~/assets/fonts/NunitoSansNormal.ttf");
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src: url("~/assets/fonts/NunitoSansNormal.ttf");
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url("~/assets/fonts/NunitoSansNormal.ttf");
  }

  html {
    font-family: "Nunito Sans", sans-serif;
  }
}

@layer utilities {
  .icon-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg)
              brightness(103%) contrast(103%);
  }

  .icon-amber {
    filter: invert(78%) sepia(74%) saturate(1197%) hue-rotate(339deg) brightness(105%) contrast(97%);
  }

  .icon-green {
    filter: invert(73%) sepia(100%) saturate(3302%) hue-rotate(95deg) brightness(101%) contrast(73%);
  }

  .icon-indigo {
    filter: invert(53%) sepia(50%) saturate(6862%) hue-rotate(223deg) brightness(95%) contrast(99%);
  }

  .icon-zinc-600 {
    filter: invert(32%) sepia(5%) saturate(826%) hue-rotate(202deg) brightness(91%) contrast(86%);
  }
}